<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.luizfp.qualoestado">

    <application
        android:name="br.com.luizfp.qualoestado.QualOEstadoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_atalho"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <service
            android:name="br.com.luizfp.qualoestado.app.BackgroundSoundService"
            android:enabled="true"/>
        <activity
            android:name="br.com.luizfp.qualoestado.activities.ActMain"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar.Main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.luizfp.qualoestado.activities.ActJogo"
            android:label="@string/title_activity_act_jogo"
            android:theme="@style/NoActionBar.Jogo"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.com.luizfp.qualoestado.activities.ActEstatistica"
            android:label="@string/title_activity_act_estatistica"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.com.luizfp.qualoestado.activities.ActOpcoes"
            android:label="@string/title_activity_act_opcoes"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
